<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
  <body>
    <h1>Helle {{ name }}.</h1>
    <h3>You have time for reset password in 15 minute.</h3>

    <p>Link for reset password --> <a href="{{ link }}/{{ jwt }}" >Link</a></p>

  </body>
</html>